<div class="grid-container">
    <h3 class="elemento link" routerLink="/">Benvenuti in D&D 3.5 </h3>
  
    <a class="elemento " href="https://github.com/CutaiaMattia">
      <img  class="iconSize" src="./assets/img/github-mark-white.png" alt="logo github">
    </a>
  
    <a class="elemento" href="https://www.linkedin.com/in/mattia-cutaia-6529a923a/">
      <img class="iconSize" src="./assets/img/inIcon.png">
    </a>
  
    <a class="elemento" href="http://www.google.it">
      <img class="iconSize" src="./assets/img/logoInsta.png">
    </a>
  </div>