
<div class="container-header col-sm-12 ">
<ul class="nav justify-content-start">
  <div class="d-flex">
  <li class="nav-item" >
    <a class="nav-link"  >Benvenuti in D&D 3.5 </a>
  </li>
</div>
  <div class="d-flex">
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/CutaiaMattia">
      <img  class="iconSize" src="./../../../assets/img/github-mark-white.png" alt="logo github">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/mattia-cutaia-6529a923a/">
      <img class="iconSize" src="./../../../assets/img/inIcon.png">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">
      <img class="iconSize" src="./../../../assets/img/logoInsta.png">
    </a>
  </li>
</div>

</ul>
</div>
