
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <meta name="description" content="home page di degeor and dragon" />

  </head>
  <body>
    <div class="grid-container1">
      <header class="elemento">


        <button routerLink="/wizard"> WIZARD </button>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab illo
          reiciendis nemo mollitia? Voluptates perferendis quaerat magnam
          tenetur omnis natus, earum a in explicabo! Quaerat veritatis nam earum
          vero id.
        </p>
      </header>
      <div class="elemento header-personaggio grid-container2">
        <div class="nome elemento-bis">
          <p><b> nome:</b> arodite</p>
        </div>
        <div class="cognome elemento-bis">
          <p><b>cognome:</b> silver wind the aingrad</p>
        </div>
        <div class="eta elemento-bis">
          <p><b>età:</b> 367</p>
        </div>
        <div class="razza elemento-bis">
          <p><b>razza:</b> elfo</p>
        </div>
        <div class="specializzazione elemento-bis">
          <p><b>specialità:</b> maga</p>
        </div>
        <div class="sesso elemento-bis">
          <p><b> sesso:</b> femmina</p>
        </div>
        <div class="livello elemento-bis">
          <p><b> livello:</b> 4</p>
        </div>
        <div class="foto elemento-bis">
          <img
            src="./assets/img/cornice-npg.png"
            width="150"
            class="sfondo-npg"
            draggable="false"
            alt="personaggio personale"
          />
        </div>
      </div>
      <nav class="laterale elemento grid-container3">
        <div></div>
        <div class="nav-lat-item elemento-tris">
          <a href="#" class="btn">utility</a>
        </div>
        <div class="nav-lat-item elemento-tris">
          <a href="#" class="btn">magia</a>
        </div>
        <div class="nav-lat-item elemento-tris">
          <a href="#" class="btn">bonus</a>
        </div>
        <div class="nav-lat-item elemento-tris">
          <a href="#" class="btn">talenti</a>
        </div>
        <div class="nav-lat-item elemento-tris">
          <a href="#" class="btn">abilità</a>
        </div>
      </nav>
      <main class="elemento">
        <p>
          cilis quas inventore excepturi. Impedit ratione et, provident, ex
          repellendus iusto ipsum maxime deleniti error magnam excepturi facere
          quam, odio temporibus cupiditate magni. Amet provident delectus fuga
          unde eos, eius, numquam rem, obcaecati doloribus deserunt omnis.
          Repudiandae est id quaerat voluptatibus quibusdam molestiae porro
          natus dolorem, maiores iste in nisi earum a. Voluptates! Quasi
          adipisci ipsa similique quia maiores nesciunt. Nam rem nulla, sint a
          fugiat perspiciatis? Cum itaque, possimus quae earum deleniti labore
          quis accusamus debitis omnis dolorem voluptate at, inventore officiis?
          Cupiditate iure voluptatum odio similique porro aliquid dicta ipsum
          earum repudiandae. Consequatur doloremque assumenda accusantium
          ratione illum incidunt exercitationem fuga delectus magnam eveniet
          perferendis sapiente, beatae reprehenderit repellendus debitis.
          Voluptatibus? Officia accusamus voluptatum neque recusandae ullam nisi
          natus numquam. Ipsam illo laudantium maxime nisi perferendis vel
          excepturi officiis optio. Exercitationem debitis rerum provident
          aspernatur quas nobis ipsam laboriosam nulla impedit? Eveniet itaque
          unde ipsam debitis rerum voluptas voluptate a quibusdam qui id commodi
          deserunt officia ipsum error at sequi ratione neque ipsa assumenda
          possimus sit recusandae, quaerat quod aut. Deserunt. Facere, et illo
          dicta error veniam sit ipsum cumque laudantium fuga. Exercitationem,
          voluptatum laborum assumenda, delectus perspiciatis aperiam quia
          voluptatem repellendus sequi vitae incidunt, sit eos vero. Animi,
          vitae nulla! Eum, sequi! Dignissimos, omnis. Perferendis non
          laboriosam, modi minima autem inventore veritatis doloribus fugiat
          dicta pariatur omnis quaerat perspiciatis nihil, rerum eaque minus
          molestiae. Perspiciatis delectus voluptatem et cupiditate.
          Perspiciatis! Aliquid, dolor, excepturi rem recusandae quos ab itaque
          est earum saepe dolores ut iure culpa! Architecto, aliquid! Nisi,
          minima dicta magni dolorum, id voluptas laudantium pariatur cumque
          facilis aliquam excepturi. Nemo voluptatem magni ullam ipsa!
          Dignissimos quidem libero sint aliquid ullam, explicabo in, similique
          quia nulla ducimus vel cum aut dolore vitae. Consequuntur sint natus
          voluptatum, quidem accusantium nemo. Doloremque. Nisi earum alias iure
          doloribus minus harum modi deserunt cumque dolorum officiis
          laudantium, odit ex natus adipisci perspiciatis voluptatum vero
          consequuntur aliquam quaerat voluptates enim nostrum eum est nesciunt.
          Eos. Delectus quae sequi necessitatibus molestias! Dignissimos
          officiis facilis explicabo odio, quis, numquam illo sit est, ipsa
          consequatur sapiente. Soluta maiores asperiores quisquam a
          necessitatibus amet illo ratione fugit doloremque beatae. Adipisci
          modi ad labore fuga ex, facere dicta quod voluptates blanditiis
          placeat porro repellendus doloribus quaerat. Ratione provident quae
          molestias exercitationem, atque temporibus debitis cum, excepturi quos
          tenetur quibusdam adipisci! A eum aperiam sunt expedita explicabo
          quas, soluta, modi illo libero, provident cum! Ipsum autem nostrum
          veniam delectus maxime magni adipisci molestias. Iure eius quisquam
          dolorem, magni animi adipisci. Optio. Possimus alias quo ut accusamus
          asperiores dicta tempora, temporibus, illo distinctio nisi labore
          modi, laborum dolorum quibusdam quasi maxime enim harum repellendus
          sapiente! Ex doloremque dignissimos tempora aliquam. Maiores,
          consectetur? Cupiditate libero perspiciatis illum deleniti quis esse
          accusantium iure ipsa dicta et nam rerum, dolore alias praesentium
          excepturi, qui laboriosam. Iusto quidem nemo modi cumque cupiditate
          accusamus provident commodi voluptates. Exercitationem quasi non minus
          sunt, asperiores, deserunt eum corrupti incidunt quia fuga vitae a
          aliquid nisi sed illo. Commodi ipsa fuga est et! Quia beatae hic
          suscipit, modi sequi non. Quas corporis illum possimus, molestias qui
          ducimus nemo quam eaque omnis illo ullam, alias odio error unde
          officia hic iusto, vitae quibusdam suscipit? Numquam pariatur animi ab
          asperiores veritatis totam? Aut, amet ut vero sunt fugit quis qui
          necessitatibus rerum explicabo aspernatur, beatae cum quo veritatis
          fugiat voluptatem nemo veniam unde doloribus fuga iusto saepe nostrum.
          Optio, beatae? Ipsum, optio. Nesciunt vero animi commodi inventore
          eius libero deserunt quo? Laboriosam suscipit quam maxime id minima
          quos, eveniet harum dolore labore ex. Voluptas reprehenderit, dolorem
          omnis ullam similique praesentium cupiditate necessitatibus. Expedita
          illum quo sapiente in tenetur nisi a nemo eligendi voluptatem repellat
          eos aliquid, voluptas magni culpa. Facere pariatur dolor repellendus
          deleniti eius minima, nisi suscipit nostrum quas laudantium officia.
        </p>
      </main>
      <footer class="elemento">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          doloremque quia fugit corrupti aliquid repellat enim iste rerum, unde
          pariatur, rem error, cumque repudiandae cupiditate esse laboriosam
          commodi? Cumque, aperiam. Enim possimus molestias explicabo, eligendi
          accusantium ex omnis consectetur ipsa libero, hic ad ea tenetur amet
          doloremque deleniti neque maiores consequuntur voluptatum perferendis
          laudantium nostrum fugiat laborum. Similique, voluptates consequuntur?
        </p>
      </footer>
    </div>
    <div class="background"></div>
  </body>
</html>
