<app-header></app-header>
<!--

<div class=" fake-page">
  <div class="container-fluid">
    <button routerLink= {{link}}    class="btn btn-primary close-sym"><span >x</span></button>
  </div>

<div class="table-responsive">
<br><br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Talento</th>
      <th scope="col">Prerequisito</th>
      <th scope="col">beneficio</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let talento of talents ">
      <td >{{talento.titolo}}</td>

      <td >
        <div *ngFor="let singleStringPrereq of talento.prerequisito">
          <p>{{singleStringPrereq}}</p>
        </div>

      </td>
      <td>{{talento.beneficio}}</td>
    </tr>

  </tbody>
  </table>
</div>
</div>

-->

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Guerriero</h5>
        <a href="#" class="btn btn-primary">VAI!</a>
      </div>
    </div>
  </div>



    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mago</h5>
          <a href="#" class="btn btn-primary">VAI</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bardo</h5>
          <a href="#" class="btn btn-primary">VAI</a>
        </div>
      </div>
    </div>
</div>
    
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ladro</h5>
        <a href="#" class="btn btn-primary">VAI</a>
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Barbaro</h5>
        <a href="#" class="btn btn-primary">VAI</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Arciere</h5>
        <a href="#" class="btn btn-primary">VAI</a>
      </div>
    </div>
  </div>
</div>